<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrigos</title>
    <!-- <link rel="stylesheet" href='{{url_for("static", filename="css/style.css")}}'> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <div class="titulo">
            <div>
                <i class='bx bxl-redux bx-spin' style='color:#f3620e'  ></i>            </div>
            <h1>CampusShop</h1>
            <div class="icono">
                <button onclick="botonMenu()" id="abrir" class="abrir">
                    <i class='bx bx-menu'></i>
                </button> 
            </div>
        </div>
        <nav class="categorias" id="menu">
            <ul>
                <li class="home">
                    <i class='bx bx-closet'></i>
                    <a href="{{ url_for('index') }}">Todos los productos</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-fireman-coat-50.png" alt="">
                    <a href="{{ url_for('abrigos') }}">Abrigos</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-polo-shirt-50.png" alt="">
                    <a href="{{ url_for('abrigos') }}">Camisetas</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-pant.png" alt="">
                    <a href="{{ url_for('pantalones') }}">Pantalones</a>
                </li>
            </ul>
        </nav>        
        <nav class="carritos" id="menu">
            <i class='bx bxs-cart'></i>
            <a href="{{ url_for('carritos') }}">Carritos</a>
            <button id="contador">0</button>
        </nav>
        <nav class="copy" id="menu">
            <i class='bx bx-copyright'></i>
            <a href="#">2023 @Camper</a>
        </nav>
    </header>
    <main>
        <div class="h1">
            <h1>Abrigos</h1>
        </div>
        <div class="main">
            {% for item in data %}
            {% if item.get("id") =="abrigo" %}
                <div class="item">
                    <img src='{{item.get("img")}}' alt="abrigo01">
                    <div class="container">
                        <p>{{item.get("description")}}</p>
                        <div>
                            <p>$ {{item.get("value")}}</p>
                            <button onclick="incrementar('contador')">Agregar</button> 
                        </div> 
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </main>
</body>
</html>