<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <!-- <link rel="stylesheet" href='{{url_for("static", filename="css/style.css")}}'> -->
    <link rel="stylesheet" href="../static/css/carritos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <div class="titulo">
            <div>
                <i class='bx bxl-redux bx-spin' style='color:#f3620e'></i>
            </div>
            <h1>CampusShop</h1>
            <div class="icono">
                <button onclick="botonMenu()" id="abrir" class="abrir">
                    <i class='bx bx-menu'></i>
                </button> 
            </div>
        </div>
        <nav class="categorias" id="menu">
            <ul>
                <li>
                    <i class='bx bx-closet'></i>
                    <a href="{{ url_for('index') }}">Todos los productos</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-fireman-coat-50.png" alt="">
                    <a href="{{ url_for('abrigos') }}">Abrigos</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-polo-shirt-50.png" alt="">
                    <a href="{{ url_for('camisetas') }}">Camisetas</a>
                </li>
                <li>
                    <img src="../static/storage/img/icons8-pant.png" alt="">
                    <a href="{{ url_for('pantalones') }}">Pantalones</a>
                </li>
            </ul>
        </nav>
        <nav class="carritos home" id="menu">
            <i class='bx bxs-cart'></i>
            <a href="{{ url_for('carritos') }}">Carritos</a>
            <button>3</button>
        </nav>
        <nav class="copy" id="menu">
            <i class='bx bx-copyright'></i>
            <a href="#">2023 @Camper</a>
        </nav>
    </header>
    <main>
        <div class="h1">
            <h1>Carrito</h1>
        </div>
        <div class="main">
            <div class="carrito01 item01 c btn01">
                <div class="img">
                    <img src="../static/storage/img/pantalon01.png" alt="pantalon01">
                </div>
                <div class="descripcion">
                    <h2>Pantalon</h2>
                    <p>Pantalon En Dril Licrado Para Hombre</p>
                </div>                    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="num">2</div>
                </div>
                <div class="precio">
                    <h3>Precio c/u</h3>
                    <p>$ 1.000</p>
                </div>
                <div class="subtotal">
                    <h3>subtotal</h3>
                    <p>$ 2.000</p>
                </div>
                <div class="btn">
                    <a href="{{ url_for('abrir') }}">
                        <i class='bx bx-trash' style='color:#e07621'  ></i>
                    </a>
                </div>
            </div>
            <div class="item02 c">
                <div class="img">
                    <img src="../static/storage/img/abrigo02.png" alt="abrigo02">
                </div>
                <div class="descripcion">
                    <h2>Abrigo</h2>
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Negro'</p>
                </div>                    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="num">2</div>
                </div>
                <div class="precio">
                    <h3>Precio c/u</h3>
                    <p>$ 2.000</p>
                </div>
                <div class="subtotal">
                    <h3>subtotal</h3>
                    <p>$ 4.000</p>
                </div>
                <div class="btn">
                    <a href="{{ url_for('abrir') }}">
                        <i class='bx bx-trash' style='color:#e07621'  ></i>
                    </a>
                </div>
            </div>
            <div class="item03 c">
                <div class="img">
                    <img src="../static/storage/img/camisa03.png" alt="camisa03">
                </div>
                <div class="descripcion">
                    <h2>Camiseta</h2>
                    <p>Camiseta Deportiva, Crossfit, Gym, Ejercicios Al Aire Libre</p>
                </div>                    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="num">1</div>
                </div>
                <div class="precio">
                    <h3>Precio c/u</h3>
                    <p>$ 2.500</p>
                </div>
                <div class="subtotal">
                    <h3>subtotal</h3>
                    <p>$ 2.500</p>
                </div>
                <div class="btn">
                    <a href="{{ url_for('abrir') }}">
                        <i class='bx bx-trash' style='color:#e07621'  ></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ilera_final">
            <div class="btn01">
                <a href="{{ url_for('vaciarcarrito') }}">Vaciar Carrito</a>
            </div>
            <div class="containerbtn">
                <div class="texto">
                    <p>Total</p>
                    <p>$ 8.500</p>
                </div>
                <div class="btn02">
                    <a href="#">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>